@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,600&display=swap');

@media screen and (max-width: 1400px) {
  #profile{
    height: 83vh;
    margin-bottom: 6rem;
  }

}

@media screen and (max-width: 1200px) {
  #profile {
    display: block;
  }

}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

nav,.nav-links{
  display: flex;
}

nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;  
}

li:hover{
  font-weight: 600;
}

.logo{
  font-size: 1.5rem;
}


/*Sections*/
section{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile{
  align-content: center;
  display: flex;
  flex-basis: content;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  margin-bottom: 3rem;
}

.prof_pic{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text{
  align-self: center;
  text-align: center;
}

.title{
  align-self: center;
  font-size: 3rem;
  text-align: left;
}


